@{
    ViewBag.Title = "О Нас";
    Layout = "_Layout";
}

<div class="container shadow">
    <h2 class="text-center mb-2"><strong>Почему Мы?</strong></h2>
    <h6><strong>Большой выбор товаров</strong></h6>
    <p>YoungMan идеальный интернет-магазин для мужского шоппинга. Здесь в одном удобном каталоге представлено более 1000 брендов одежды, обуви, аксессуаров, спортивных товаров, парфюмерии и даже косметики для мужчин.</p>
    <p>Купить можно всего в два клика. На выбор более двух миллионов первоклассных товаров различных категорий: от масс-маркета до премиум-брендов.</p>
    <p> Коллекции обновляются постоянно, при этом многие новинки продаются со скидкой. Lamoda.ru сотрудничает с производителями напрямую. Подлинность товара гарантирована международными сертификатами.</p>
    <h6><strong>Доставка с примеркой</strong></h6>
    <p>Любую вещь из каталога YoundMan можно примерить перед покупкой. Это удобно, чтобы не ошибиться с размером.</p>
    <p>Курьер может привезти несколько вещей на выбор, покупатель платит только за то, что подошло. Бесплатная доставка осуществляется по всей России.</p>
    <p>Собственная служба работает в 66 крупных городах (Москва и МО, Санкт-Петербург, Нижний Новгород, Новосибирск, Екатеринбург, Самара, Тольятти, Тюмень, Челябинск и другие), где заказанный товар доставляется в течение 1-2 дней.</p>
    <p><strong>Оплата и возврат</strong></p>
    <p>Оплатить покупки из каталога YoungMan можно любым удобным способом: наличными курьеру, по пластиковой карте через интернет. Для удобства покупателей у каждого курьера YoungMan при себе есть мобильный терминал оплаты: товары можно оплатить картой у себя дома сразу после примерки.</p>
    <p>Интернет-магазин Lamoda.ru ценит своих клиентов, их вкус и выбор. Поэтому купленный, но не подошедший товар можно вернуть в течение 14 дней после покупки.</p>
    <h2 class="text-center my-2"><strong>Наш магазин</strong></h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1657.8432590759528!2d38.283334997293125!3d54.01086164478858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41369c1ac1201f51%3A0x669123002970b67f!2z0YPQuy4g0JHQtdGA0ZHQt9C-0LLQsNGPLCA30JIsINCd0L7QstC-0LzQvtGB0LrQvtCy0YHQuiwg0KLRg9C70YzRgdC60LDRjyDQvtCx0LsuLCAzMDE2NTA!5e0!3m2!1sru!2sru!4v1652867255110!5m2!1sru!2sru"  style="border:0; width: 100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
