@model IEnumerable<Product>

@{
    ViewBag.Title = "Католог";
    Layout = "_Layout";
}

<div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-3 col-sm-12 shadow mr-4 h-100">
        <h2 class="text-center my-2">Навигация по каталогу</h2>
         <!--Search Form -->
         <div class="mt-2 mb-4">
             <form method="get" asp-controller="Home">
                 <label for="searchString">Поиск по названию</label>
                 <div class="input-group">
                     <div class="form-outline col-md-10 col-sm-10 px-0">
                         <input type="search" id="searchString" name="searchString" class="form-control" placeholder="Поиск"/>
                     </div>
                     <button type="submit" class="btn btn-warning col-md-2 col-sm-auto">
                         <i class="fas fa-search text-white"></i>
                     </button>
                 </div>
                 <label for="categoryId" class="mt-4">Поиск по категории</label>
                 <div class="input-group">
                     <select name="categoryId" asp-items="@ViewBag.Categories" id="categoryId" class="form-select col-md-10 col-sm-10 px-0" aria-label="Default select example">
                         <option selected value="0">Всё</option>
                     </select>
                     <a class="btn btn-warning col-md-2 col-sm-auto" asp-controller="Home" asp-action="Clear" ><i class="fa fa-trash text-white"></i></a>
                 </div>
             </form>
         </div>
         <!--End Search Form -->
    </div>
    <div class="col-md-8 col-sm-12 shadow p-4">
        <h2 class="text-center my-2">Каталог</h2>
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-1 my-2">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("Product", item)
            }
        </div>
        <div class="btn-group text-center">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                @Html.ActionLink($"{i}","Catalog","Home",
                    new
                    {
                        id=i-1,
                        searchString=ViewBag.SearchString,
                        categoryId=ViewBag.CategoryId
                    },
                    new{@class=$"btn {(ViewBag.Id == i ? "btn-warning text-white" : "btn-outline-warning")}"})
            }
        </div>
    </div>
</div>
