@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

  <!-- Page Content  -->
<div class="container shadow-lg pt-2">
    <h1 class="text-center my-2">YoundMan</h1>
  <div class="row row-cols-md-2 row-cols-sm-1">
    <div id="carouselExampleSlidesOnly" class="carousel slide col-9 pt-4 bg-warning" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/s1.jpg" class="d-block w-100" alt="...">
          <h2 class="text-white">Выбор этой недели</h2>
          <h3 class="text-muted">Любимое с выгодой</h3>
        </div>
        <div class="carousel-item">
          <img src="/images/s2.jpeg" class="d-block w-100" alt="...">
          <h2 class="text-white">Любимые бренды</h2>
          <h3 class="text-muted">Для спорта и жизни</h3>
        </div>
        <div class="carousel-item">
          <img src="/images/s3.jpg" class="d-block w-100" alt="...">
          <h2 class="text-white">Модный стритсайз</h2>
          <h3 class="text-muted">Принты и оверсайз</h3>
        </div>
      </div>
    </div>
    <div class="col-3 bg-secondary">
      <div class="card my-1" style="border: none">
        <img src="/images/s4.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Лето в городе</h5>
          <p class="card-text">Собираем образ</p>
        </div>
      </div>
        
      <div class="card my-1" style="border: none">
        <img src="/images/s5.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Лето в городе</h5>
          <p class="card-text">Собираем образ</p>
        </div>
      </div>
    </div>
  </div>
  
  <img src="images/b1.jpg" alt="" class="my-4 w-100"/>
  
  <div class="row row-cols-md-2 row-cols-sm-1">
    <div class="col-3 bg-secondary">
      <div class="card my-1" style="border: none">
        <img src="/images/sb-1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Футболки и поло</h5>
          <p class="card-text">Классика и не только</p>
        </div>
      </div>
              
      <div class="card my-1" style="border: none">
        <img src="/images/sb-2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Головные уборы</h5>
          <p class="card-text">К солнцу готовы</p>
        </div>
      </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide col-9 pt-4 bg-warning" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/bb1.jpg" class="d-block w-100" alt="...">
          <h2 class="text-white">Цветочный принт</h2>
          <h3 class="text-muted">Включите в гардероб</h3>
        </div>
        <div class="carousel-item">
          <img src="/images/school.jpg" class="d-block w-100" alt="...">
          <h2 class="text-white">Нарядный выпускной</h2>
          <h3 class="text-muted">Выберите образ</h3>
        </div>
        <div class="carousel-item">
          <img src="/images/boots.jpg" class="d-block w-100" alt="...">
          <h2 class="text-white">Беговые кроссовки</h2>
          <h3 class="text-muted">Как выбрать те самые</h3>
        </div>
      </div>
    </div>
  </div>
</div>

